* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background-image: url(img/cart_bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}
.top__header {
  height: 76px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.top__header__input {
  width: 288px;
  height: 41px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  background-color: transparent;
  outline: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
.top__header__input::-moz-placeholder {
  color: #FFFFFF;
}
.top__header__input::placeholder {
  color: #FFFFFF;
}
.top__header__nav {
  display: flex;
  gap: 32px;
}
.top__header__nav__link {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
.top__header__nav__link:hover {
  text-decoration: underline;
}
.top__titler {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  padding-top: 127.25px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  padding-top: 64px;
}
.cart__left {
  grid-column: span 8;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cart__left__names {
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.cart__left__border {
  border: 0.5px solid rgb(202, 205, 216);
}
.cart__left__card {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
}
.cart__left__card__info {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.cart__left__card__info__left {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart__left__card__info__left__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.cart__left__card__info__left__description {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.cart__left__card__info__left__price {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.cart__left__card__info__left__links {
  display: flex;
  gap: 30px;
}
.cart__left__card__info__left__links__link {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  text-decoration-line: underline;
}
.cart__left__card__info__right {
  grid-column: span 1;
  grid-column-start: 6;
}
.cart__left__card__info__right__input {
  height: 51px;
  width: 71px;
  border-radius: 6px;
  background: rgb(247, 246, 246);
}
.cart__left__buttons__btn {
  height: 37px;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
}
.cart__right {
  height: 556px;
  border-radius: 20px;
  background: rgb(247, 246, 246);
  grid-column: span 4;
}/*# sourceMappingURL=cart_style.css.map */