* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: "Montserrat", sans-serif;
}
  
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background-image: url(img/cart_bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;

    &__header{
        height: 76px;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &__input{
            width: 288px;
            height: 41px;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 20px;
            background: rgb(255, 255, 255);
            background-color: transparent;
            outline: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: left;
            color: #FFFFFF;
            padding-left: 32px;
            padding-right: 32px;
            box-sizing: border-box;

            &::placeholder {
                color: #FFFFFF;
            }
        }
        

        &__nav{
            display: flex;
            gap: 32px;
            &__link{
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__titler {
        color: #FFFFFF;
        font-size: 64px;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: 0%;
        padding-top: 127.25px;
    }
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    padding-top: 64px;

    &__left {
        grid-column: span 8;
        display: flex;
        flex-direction: column;
        gap: 14px;

        &__names {
            display: flex;
            justify-content: space-between;

            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
        }

        &__border {
            border: 0.5px solid rgb(202, 205, 216);
        }

        &__card {
            padding-top: 25px;
            display: flex;
            flex-direction: row;
            gap: 32px;
            justify-content: space-between;

            &__info {
                display: grid;
                grid-template-columns: repeat(6, 1fr);

                &__left {
                    grid-column: span 3;
                    display: flex;
                    flex-direction: column;
                    gap: 15px; 

                    &__title {
                        color: rgb(0, 0, 0);
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 29px;
                        letter-spacing: 0%;
                        text-align: left;
                    }

                    &__description {
                        color: rgb(136, 136, 136);
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17px;
                        letter-spacing: 0%;
                        text-align: left;                        
                    }

                    &__price {
                        color: rgb(5, 5, 5);
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: 0%;
                        text-align: left;                        
                    }

                    &__links {
                        display: flex;
                        gap: 30px;

                        &__link {
                            color: rgb(0, 0, 0);
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 210%;
                            letter-spacing: 0px;
                            text-align: center;
                            text-decoration-line: underline;                            
                        }
                    }
                }

                &__right {
                    
                    grid-column: span 1;
                    grid-column-start: 6;

                    &__input {
                        height: 51px;
                        width: 71px;
    
    
                        border-radius: 6px;
                        background: rgb(247, 246, 246);
                    }

                    
                }
            }
        }

        &__buttons {
            &__btn {
                height: 37px;
                width: 200px;

                box-sizing: border-box;
                border: 1px solid rgb(0, 0, 0);
                border-radius: 50px;                
            }
        }
    }

    &__right {
        height: 556px;
        border-radius: 20px;
        background: rgb(247, 246, 246);

        grid-column: span 4;

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            &__title {
                padding-top: 42px;
                padding-bottom: 35px;
                color: rgb(0, 0, 0);
                font-size: 24px;
                font-weight: 700;
                line-height: 29px;
                letter-spacing: 0px;
                text-align: center;
            }

            &__input {
                width: 288px;
                display: flex;
                flex-direction: column;

                &__inp {
                    padding-left: 28px;
                    height: 61px;
                    border: none;
                    border-bottom: 1px solid #CACDD8;
                    background-color: transparent;
                    outline: none;

                    &::placeholder {
                        color: #000000;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17px;
                        letter-spacing: 0px;                       
                    }
                }

            }

            &__total {
                padding-top: 64px;
                padding-bottom: 18px;

                color: rgb(0, 0, 0);
                font-size: 24px;
                font-weight: 500;
                line-height: 29px;
                letter-spacing: 0px;
                text-align: center;                
            }

            &__btn {
                width: 290px;
                height: 41px;

                box-sizing: border-box;
                border: 1px solid rgb(4, 4, 4);
                border-radius: 20px; 
            }
        }
    }
}