*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 555px);
    padding-right: calc(50% - 555px);
}

.top{
    height: 782px;
    background-image: url(imglanding/Bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_link{
    height: 17px;
    text-decoration: none;  
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

nav {
    margin-left: 172px;
    margin-right: 172px;
    display: flex;
    gap: 32px;
}

.header_block {
    height: 124px;
    width: 540px;
    margin-bottom: 39px;
}

.title_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.title{
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    margin-top: 140px;
    margin-bottom: 39px;
    color: rgb(255, 255, 255);
    font-family: Lato;
    letter-spacing: 5%;
    text-align: center;
    text-transform: uppercase;
}

.p1{
    font-family: Lato;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.sign_up_btn{
    border-radius: 6px;
    background: #FFFFFF;
    width: 160px;
    height: 50px;
    color: #ED4C5C;
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.lorem{
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 95px;
}

.lorem_title{
    color: #000000;
    font-family: Lato;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0%;
}

.lorem_text {
    width: 445px;
}

.lorem_video {
    padding-bottom: 94px;
}

h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 24px;
}

.features{
    background: #FAFAFA;
}

.card_box {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.card {
    background: #FFFFFF;
    width: 350px;
    margin-bottom: 31px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.p20{
    color: #000000;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: justify;
    margin-bottom: 14px;
}



.learn_link{
    color: rgb(237, 76, 92);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: justify;
}

.features_title{
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 63px;
    padding-bottom: 63px;
}

.features_card_title{
    color: rgb(16, 16, 16);
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 33px;    
}

.features_card_link{
    color: rgb(237, 76, 92);
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center; 
    padding-bottom: 25px;   
}

h4{
    margin-top: 33px;
    margin-bottom: 20px;
}

.p7{
    color: rgb(16, 16, 16);
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;    
    margin-bottom: 5px;
}

.stay{
    background: #ED4C5C;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 125px;
}

.stay_text_block {
    width: 445px;
    margin-top: 143px;
    margin-bottom: 143px;
}

.stay_title{
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0%;
    text-align: left; 
}

.stay_p{
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: justify;    
}

.contacts_title{
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0%;
    text-align: left;  
    margin-bottom: 53px;
}

.contacts_p{
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: justify;    
}

.contacts{
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_box {
    width: 434px;
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 117px;
    padding-bottom: 78px;
    gap: 25px;
}

.name {
    display: flex;
    gap: 30px;
}

footer{
    background: #FAFAFA;
    padding-top: 48px;
    padding-bottom: 48px;
}

.form_input_f_name{
    width: 255px;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid #333333b5;
    border-radius: 6px;
    outline: none;    
    
    color: rgba(19, 39, 67, 0.5);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 31px; 
    padding-right: 31px;   
}

.form_input_l_name{
    width: 255px;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 6px;
    outline: none; 
    
    color: rgba(19, 39, 67, 0.5);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;  
    padding-left: 31px; 
    padding-right: 31px;      
}

.form_input_p_num{
    width: 540px;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 6px;   
    outline: none;   

    color: rgba(19, 39, 67, 0.5);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 31px; 
    padding-right: 31px;        
}    

.form_input_select_form{
    width: 540px;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 6px; 
    outline: none;  

    color: rgba(19, 39, 67, 0.5);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 31px; 
    padding-right: 31px;        
}

.btn_sub{
    width: 160px;
    height: 50px;
    box-sizing: border-box;
    border: 1.5px solid rgb(237, 76, 92);
    border-radius: 6px;
    
    background: rgb(237, 76, 92);
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;        
}

.copyright{
    color: rgb(16, 16, 16);
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
}